<?php

/**
 * Configure your Zest environment here
 */
return [
    'host' => '{{ host }}',
    'port' => {{ port }},
    'https' => {{ https }},
    'outDir' => '{{ outDir }}',
    'assetsDir' => '{{ assetsDir }}',
    'entry' => '{{ entry }}',
    'hash' => {{ hash }},
    'plugins' => {{ plugins }},
];
